@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #033353;
    border-bottom: 1px solid rgb(1, 0, 90);
}

nav {
    padding: 30px;
}
h1 {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  
}
main {
    margin: auto;
    width: 90%;
   
}

div.slogan img {
    width: 98% ;
    margin-left: 1%;
}
